<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="ada" src="{{ "/assets/img/ada.gif" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents">
    <h3> Project Ada </h3>
    <ul>
      <li> Python, Postgres, Django</li>
      <li> RESTful API</li>
    </ul>
    <p> I designed and implemented the data management system for Project Ada. The goal of Project Ada utilize AI to accelerate and revolutionize advanced materials discovery.</p>
    <a class="project-link" target="_blank" href="https://gitlab.com/ada-chem/ada_data">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="scoot" src="{{ "/assets/img/scoot.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SCOOT </h3>
    <ul>
      <li> R, Shiny, Leaflet, API</li>
      <li> Transit Mapping</li>
    </ul>
    <p> I developed SCOOT which is an interactive real-time transportation mapping software. SCOOT queries the location of the user (with their permission), and then uses that information to map the most direct route to their destination given the selected mode. SCOOT uses the Google Maps API and the Translink API to get real-time transportation data.</p>
    <a class="project-link" target="_blank" href="https://tedhaley.shinyapps.io/Scoot/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="rolling_window" src="{{ "/assets/img/rolling_window.gif" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents">
    <h3> Flood Anomaly Detection System </h3>
    <ul>
      <li> R, SQL</li>
      <li> LOESS Regression</li>
    </ul>
    <p> I developed a real-time anomaly detection system for river flow gauges across North America for BGC Engineering. The system is implemented using a Robust Mean LOESS method in R and Python. This system was able to classify anomalies with an F1 score of 83% on a dataset of over 33 million observations.</p>
    <p class="project-link" >Closed source</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="predictions" src="{{ "/assets/img/predictions.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 2-Day Flood Forecasting System </h3>
    <ul>
      <li> Python, sklearn</li>
      <li> Random Forest Regression</li>
    </ul>
    <p>I developed a 2-day flood forecasting system using Python and Scikit Learn for BGC Engineering. This system uses historic flow, precipitation, and spatial data to train a Random Forest model. This model was able to classify flood events with an F1 score of 74% on a dataset of over 33 million observations.</p>
    <p class="project-link" >Closed source</p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="wine" src="{{ "/assets/img/wine.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents">
    <h3> Sommelier </h3>
    <ul>
      <li> R, Shiny</li>
    </ul>
    <p>Sommelier is a Shiny web app that helps consumers find a wine to match their tastes and budget. Sommelier accesses the Winemag database of over 150,000 wine reviews and finds the highest rated wines at the lowest price, for a given grape variety and origin. Value is determined by the magnitude of the linear regression residual.</p>
    <a class="project-link" target="_blank" href="https://tedhaley.shinyapps.io/wine_selection/">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="watson" src="{{ "/assets/img/watson.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Watson NLU API Wrapper </h3>
    <ul>
      <li> R, Tidyverse</li>
    </ul>
    <p>WatsonNLU is a package I developed for a group project while doing my masters at UBC. WatsonNLU is a wrapper for the Watson Natural Language Understanding API. This package allows users to perform analyses for semantic features of text or HTML input.</p>
    <a class="project-link" target="_blank" href="https://github.com/TedHaley/watsonNLU">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="wine" src="{{ "/assets/img/lm.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents">
    <h3> Pythia / Karl </h3>
    <ul>
      <li> Python, R</li>
    </ul>
    <p>Pythia and Karl are Python and R packages that take a dataset with a continuous response variable and various continuous explanatory variables, and provide the user with several functions to build a linear regression model. The fit of the regression can be tested using the diagnosis (residual) plots returned by the plotting function.</p>
    <a class="project-link" target="_blank" href="https://github.com/TedHaley/Pythia">Check it out</a>
  </div>
</div>
